@import './base.css';
@import './ease.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  overflow: hidden;
}

@font-face {
  font-family: 'nexaheavy';
  src: url('fonts/nexa-heavy-webfont.woff2') format('woff2'),
    url('fonts/nexa-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nexaextra_light';
  src: url('fonts/nexa-extralight-webfont.woff2') format('woff2'),
    url('fonts/nexa-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

h1,
p,
a,
label {
  font-family: "nexaheavy";
}

button,
.copie_pop_up {
  font-family: "nexaextra_light" !important;
}

.blue-txt {
  color: #08086e;
}

.black-txt {
  color: #000;
}

.copie_success {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px !important;
  position: absolute;
  top: 100%;
  opacity: 0;
  width: auto;
  height: auto;
  padding: 10px 20px;
  transition: ease 0.25s;
  background-color: #FFF;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.copie_move {
  top: 75% !important;
  opacity: 1;
}

.pointer {
  cursor: pointer;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  body{
    padding: 100px;
  }
}

@media (max-width: 520px) {

  .copie_success {
    width: 207PX;
    top: 100%;
  }

  .copie_move {
    top: 80% !important;
  }
}